<!DOCTYPE html>
<html>
<head>
    <title>Your To Do Lists</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/todoLists.css">
</head>
<body>
    <div class="container">
        <h1>Your To Do Lists</h1>
        {{if .Value}}
            <ul>
                {{range .Value}}
                    <li>
                        <a href="/list/{{.ID}}/tasks" class="list-name">{{.DisplayName}}</a>
                    </li>
                {{end}}
            </ul>
        {{else}}
            <div class="no-lists">
                <p>No to-do lists found. Create some in your Microsoft To Do app!</p>
            </div>
        {{end}}
        <a href="/logout" class="logout-button button">Logout</a>
    </div>
</body>
</html>
